<h1><%= @autor.name %></h1>


<p><b>简介：</b><br />
  <%=sanitize@autor.description %>
</p>

<p><b>探索她(他)的资料</b><br />
  <%=sanitize @autor.links %>
</p>

<b>他的作品</b><br />
<p>
  <% @albums.each do |album| %>
    <ul>
      <li><%=link_to album.name,album %></li>
    </ul>
   <% end %>
</p>

<p>
   <% @books.each do |book| %>
    <ul>
      <li><%=link_to book.name ,book %></li>
    </ul>
   <% end %>
</p>

<p>
   <% @poemtries.each do |poemtry| %>
    <ul>
      <li><%=link_to poemtry.name ,poemtry %></li>
    </ul>
   <% end %>
</p>



<%= link_to "回列表", autors_path %>
