
<img src="<%= @book.url %>" />
<p><b>作者：</b>
<%=link_to @autor.name,@autor  %>
</p>
<p><b>书名：</b>
  <%= @book.name %>
</p>

<p><b>简介：</b><br />
  <%=sanitize @book.description %>
</p>

<p><b>目录：</b><br />
  <%=sanitize @book.summary %>
</p>

<p><b>探索她吧！</b><br />
  <%=sanitize @book.links %>
</p>



<%= link_to "返回列表", books_path %>
