<p id="notice"><%= notice %></p>
<img src="<%=@album.url %>" />
<p>
  <b>专辑名:</b>
  <%= @album.name %>
</p>

<p>
  <b>艺术家:</b>
  <%= @autor.name %>
</p>

<p>
  <b>发行:</b>
  <%= @album.shijian %>
</p>

<p>
  <b>简介:</b><br />
  <%= @album.description %>
</p>
<p>
  <b>资源链接</b>
  <%= @album.links %>
</p>


<%= link_to '退回列表', albums_path %>
