<p id="notice"><%= notice %></p>
<img src="<%=@album.url %>" />
<p>
  <b>专辑名:</b>
  <%= @album.name %>
</p>

<p>
  <b>艺术家:</b>
  <%= link_to @autor.name ,@autor%>
</p>

<p>
  <b>发行:</b>
  <%= @album.shijian %>
</p>

<p>
  <b>简介:</b><br />
  <%=sanitize @album.description %>
</p>
<p>
  <b>资源链接</b>
  <%=sanitize @album.links %>
</p>

<p>
  <b>歌曲试听</b>
  <% @musics.each do |music| %>
    <ul>
      <li><%=music.name %><br />
        <audio src="<%=music.url %>" controls="controls" preload="none">
        您的浏览器不支持 audio 标签。
        </audio> 
      </li>
    </ul>
  <% end %>
</p>

<%= link_to '退回列表', albums_path %>

<% @commits.each do |commit| %>
  <p>
    <%= commit.user %>
    说：
    <br />
    <%= commit.content %>
  </p>
<% end %>  

<%=render :partial => 'commits/new_commit' %>
