<p id="notice"><%= notice %></p>


 
<h1><%= @shige.name %></h1>

<p>
  <%=sanitize @shige.content %>
</p>
<% if (@shigeshang == @shige) %>
  <b>第一章</b>
<% else %>
  <%= link_to '上一章', @shigeshang %>
<% end %>

<%= link_to '退回列表', shiges_path %>

<% if (@shigexia == @shige) %>
   <b>最后一章</b>
<% else %>
<%= link_to '下一章',@shigexia %>
<% end %>
