%li
  %a{ :href => 'http://0.0.0.0:3000/'}首页
%li
  = link_to '新闻', xinwens_path
%li
  = link_to '书籍', books_path
%li
  = link_to '音乐', albums_path
%li
  = link_to '大师', autors_path
%li
  = link_to '图片', tupians_path
%li
  = link_to '诗歌', poemtries_path
%li
  %a{ :href => '/ufo/index'}揭密
