<!DOCTYPE html>
<html>
<head>
  <title>WingDev</title>
  <%= stylesheet_link_tag "application" %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
 
  <%= stylesheet_link_tag 'screen.css', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'print.css', :media => 'print' %>
 
  <%= stylesheet_link_tag 'ie.css', :media => 'screen, projection' %>

</head>
<body>
 <div id="page">
      
       <div id="sidebar">
        <ul id="sidebar-items">
         
          <li>
            <h3>网站导航</h3>
            <ul class="links">
              <li><a href="http://freezing-cloud-648.heroku.com">远程首页</a></li>
              <li><a href="http://0.0.0.0:3000/">首页</a></li>
              <li><a href="http://0.0.0.0:3000/books">书籍</a></li>
              <li><a href="http://0.0.0.0:3000/albums">音乐</a></li>
              <li><a href="http://0.0.0.0:3000/autors">大师</a></li>
              <li><a href="http://0.0.0.0:3000/">画作</a></li>
              <li><a href="http://0.0.0.0:3000/poemtries">诗歌</a></li>
              <li><a href="http://0.0.0.0:3000/ufo/index">不明飞行物猎奇</a></li>
           </ul>
          </li>
         </ul>
      </div>

      
      <div id="content">
        <div id="header">
          <h1>Welcome Wingflying!</h1>
          <h2></h2>
        </div>

        <div id="about">
        
        </div>

        <div id="getting-started">
          <%= yield %> 
        </div>
      </div>

      <div id="footer">&nbsp;</div>
    </div>
</body>
</html>
