!!! 5 
%html
  %head
    %title WingFlying
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'print',:media => 'screen, projection'
    = stylesheet_link_tag 'screen',:media => 'screen, projection'
    = stylesheet_link_tag 'link_icons.css', :media => 'screen, projection'

    /[if lt IE 8]
    = stylesheet_link_tag 'ie'
    = javascript_include_tag 'application.js'
    = csrf_meta_tags
  
  %body
    
    .page
      #header
        %h1 Welcome to WingFlying!
        %ul
          = render 'users/shared/login'
          = render 'users/shared/registration'
      #sidebar
        %ul
          %li
            %h3 网站导航
          %li
            %a{ :href => 'http://freezing-cloud-648.heroku.com'}远程主页
          %li
            %a{ :href => 'http://0.0.0.0:3000/'}首页
          %li
            = link_to '书籍', books_path
          %li
            = link_to '音乐', albums_path
          %li
            =link_to '大师', autors_path
          %li
            = link_to '图片', tupians_path
          %li
            = link_to '诗歌', poemtries_path
          %li
            %a{ :href => '/ufo/index'}揭密
                   
      #content
        = yield
         
      #footer
        %center 
          %h4 neychang setup in 2011
