!!! 5 
%html
  %head
    %title WingFlying
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "print"
    = stylesheet_link_tag "screen"
     
    /[if lt IE 8]
    = stylesheet_link_tag 'ie'
    = javascript_include_tag 'application.js'
    = csrf_meta_tags
  
  %body
    
    .page
      #header
        %ul.left-nav
          = render 'layouts/header-nav.html'
        %ul.right-nav
          = render 'users/shared/login'
          = render 'users/shared/registration'
      #sidebar
        = render 'layouts/sidebar'
                   
      #content
        = yield
         
      #footer
        %center 
          %h4 neychang setup in 2011
