!!! 5 
%html
  %head
    %title WingFlying
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'print',:media => 'screen, projection'
    = stylesheet_link_tag 'screen',:media => 'screen, projection'
    = stylesheet_link_tag 'link_icons.css', :media => 'screen, projection' 
    /[if lt IE 8]
    = stylesheet_link_tag 'ie'
    = javascript_include_tag 'application.js'
    = csrf_meta_tags
  
  %body
    
    .page
      #header
        %h1 Welcome to WingFlying!
        %ul
          = render 'users/shared/login'
          = render 'users/shared/registration'
      #sidebar
        = render 'layouts/sidebar_user'
                   
      #content
        = yield
         
      #footer
        %center 
          %h4 neychang setup in 2011
